<div class="modal fade" id="add_enterprise" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加企业</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group form-group-sm">
            <label for="enterprise_names" class="col-sm-3 control-label">请输入企业名称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="enterprise_names">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="enterprise_types" class="col-sm-3 control-label">请输入企业类型</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="enterprise_types">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="enterprise_representative" class="col-sm-3 control-label">请输入法人代表</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="enterprise_representative">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="telephone" class="col-sm-3 control-label">请输入联系方式</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="telephone">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary enter_click">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->