<div class="modal fade" id="approve_goods_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog w900" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">审核</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="common_form">
          <h6><b>订单信息</b></h6>
          <table class="table table-bordered personal-info">
            <tr>
              <td>订单编号</td>
              <td width="335">12345623245324325</td>
              <td>下单时间</td>
              <td>2017-05-12 18:25</td>
            </tr>
            <tr>
              <td>交易状态</td>
              <td>拣配中</td>
              <td>订单来源</td>
              <td>PC</td>
            </tr>
            <tr>
              <td>协议客户</td>
              <td>否</td>
              <td>支付方式</td>
              <td>在线支付</td>
            </tr>
            <tr>
              <td>订单金额</td>
              <td>5500.00元</td>
              <td>实付金额</td>
              <td>5200.00</td>
            </tr>
            <tr>
              <td>改价状态</td>
              <td>通过</td>
              <td>审核状态</td>
              <td>否</td>
            </tr>
            <tr>
              <td>开票状态</td>
              <td>否</td>
              <td>配送方式</td>
              <td>自提</td>
            </tr>
            <tr>
              <td>买家留言</td>
              <td colspan="3">请准时发货</td>
            </tr>
          </table>
          <h6><b>商品信息</b></h6>
          <table class="table table-bordered good-info">
            <thead>
            <tr>
              <th>商品图片</th>
              <th width="210">商品名称</th>
              <th>单价（元）</th>
              <th>单价折扣</th>
              <th>数量</th>
              <th>小计（元）</th>
              <th>实付金额（元）</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><img src="../../../static/dtsadmin/img/good.png"/></td>
              <td>鼻朗 生理性海水鼻腔喷雾器25ml</td>
              <td>26.00</td>
              <td>98折=23.5</td>
              <td>40</td>
              <td>35541.00</td>
              <td>32000.00</td>
            </tr>
            <tr>
              <td><img src="../../../static/dtsadmin/img/good.png"/></td>
              <td>鼻朗 生理性海水鼻腔喷雾器25ml</td>
              <td>26.00</td>
              <td>98折=23.5</td>
              <td>40</td>
              <td>35541.00</td>
              <td>32000.00</td>
            </tr>
            <tr>
              <td><img src="../../../static/dtsadmin/img/good.png"/></td>
              <td>鼻朗 生理性海水鼻腔喷雾器25ml</td>
              <td>26.00</td>
              <td>98折=23.5</td>
              <td>40</td>
              <td>35541.00</td>
              <td>32000.00</td>
            </tr>
            </tbody>
          </table>
          <h6><b>账户信息</b></h6>
          <table class="table table-bordered personal-info">
            <tr>
              <td>用户名</td>
              <td width="335">张丽<a class="mrg-l-30" data-toggle="modal" href="#common_log_modal">查看日志</a></td>
              <td>姓名</td>
              <td>张三</td>
            </tr>
            <tr>
              <td>企业名称</td>
              <td>东力药业</td>
              <td>手机号</td>
              <td>13242342342</td>
            </tr>
          </table>
          <h6><b>配送信息</b></h6>
          <table class="table table-bordered personal-info">
            <tr>
              <td>收货人</td>
              <td width="335">张丽</td>
              <td>手机号</td>
              <td>13257487856</td>
            </tr>
            <tr>
              <td>地址</td>
              <td>湖北武汉市光谷天地</td>
              <td>邮编</td>
              <td>430000</td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer mrg-t-15">
        <button type="button" class="btn btn-dts2 btn-s1">通过</button>
        <button type="button" class="btn btn-dts2 btn-s4" data-dismiss="modal">不通过</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->