<div class="modal common_delete_modal fade" id="common_delete_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
        <i class="iconfont icon-open-warn"></i><span>删除后该企业无法恢复，确定删除该企业吗？</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dts2 btn-s1 btn-affirm">确定</button>
        <button type="button" class="btn btn-dts2 btn-s3" data-dismiss="modal">取消</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
	