<div class="modal fade" id="add_good_category" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加类目</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group form-group-sm">
            <label for="express_name" class="col-sm-3 control-label">类目名称：</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="express_name">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="express_ type" class="col-sm-3 control-label">类目级别：</label>
            <div class="col-sm-6">
              <select class="form-control" id="express_ type">
                <option>一级</option>
                <option>二级</option>
                <option>三级</option>
              </select>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="express_ type" class="col-sm-3 control-label">显示排序：</label>
            <div class="col-sm-6">
              <select class="form-control" id="express_ type">
                <option>0</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
