{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}忘记密码 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/forget_password.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--member_site_nav部分-->
    {% include 'eshop/member_site_nav.html' %}

    <div class="header">
      <div class="header_box clearfix">
        <div class="logo">
          <img src="{{ 'eshop/images/huluwa.png'|static_url }}"></div>
        <div class="header_title">忘记密码</div>
        <div class="log_in">
          已有账户？
          <a>立即登录</a>
        </div>
      </div>
    </div>
    <div class="main tabtable">
      <ul class="password_nav">
        <li class="active">
          <span>1</span>
          填写用户名
        </li>
        <li>
          <span>2</span>
          验证身份
        </li>
        <li>
          <span>3</span>
          设置新密码
        </li>
        <li>
          <span>4</span>
          完成
        </li>
      </ul>
      <div class="password_content">
        <div class="account">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="account" class="label_defined">用户名/手机号:</label>
              <input type="text" id="account" class="input_defined long"></div>
            <div class="form-group">
              <label for="verify_num" class="label_defined">验证码:</label>
              <input type="text" id="verify_num" class="input_defined">
              <button class="btn_defined">发送验证码</button>
            </div>
            <div class="form-group">
              <label class="label_defined"></label>
              <button class="btn btn_defined">提交</button>
            </div>
          </form>
        </div>
        <div class="verify hide">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="method" class="label_defined">选择验证身份方式:</label>
              <select id="method" class="select_defined">
                <option>手机号码</option>
                <option>用户名</option>
                <option>QQ号码</option>
              </select>
            </div>
            <div class="form-group">
              <label class="label_defined">已验证手机:</label>
              <span>137****3333</span>
            </div>
            <div class="form-group">
              <label for="verify_number" class="label_defined">验证码:</label>
              <input type="text" id="verify_number" class="input_defined">
              <button class="btn_defined">发送验证码</button>
            </div>
            <div class="form-group">
              <label class="label_defined"></label>
              <button class="btn btn_defined">提交</button>
            </div>
          </form>
        </div>
        <div class="new_password hide">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="new" class="label_defined">新登录密码:</label>
              <input type="text" id="new" class="input_defined long"></div>
            <div class="form-group">
              <label for="com_num" class="label_defined">确认密码:</label>
              <input type="text" id="com_num" class="input_defined long"></div>
            <div class="form-group">
              <label class="label_defined"></label>
              <button class="btn btn_defined">提交</button>
            </div>
          </form>
        </div>
        <div class="complate hide">
          <div class="clearfix">
            <div class="complate_pic">
              <i class="iconfont icon-yiwancheng"></i>
            </div>
            <div class="complate_note">
              <p>密码设置成功！</p>
              <p>请您牢记你新设置的密码！</p>
            </div>
          </div>
          <form class="form-horizontal">
            <div class="form-group">
              <button class="btn btn_defined" id="start_shopping"><a href="{% url 'eshop:eshop_home' %}">开始购物</a>
              </button>
              <button class="btn btn_defined" id="person_center"><a href="{% url 'eshop:member_center' %}">个人中心</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}
<!-- 自定义JS -->
{% block js %}
  <script type="text/javascript" src="{{ 'eshop/js/forget_password.js'|static_url }}"></script>
{% endblock %}
