{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}忘记密码 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/forget_password.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">


    <div class="header">
      <div class="header-box clearfix">
        <div class="logo">
          <img src="{{ 'eshop/images/huluwa.png'|static_url }}"></div>
        <div class="header-title">忘记密码</div>
        <div class="log-in">
          已有账户？
          <a href="{% url 'eshop:user_login' %}">立即登录</a>
        </div>
      </div>
    </div>
    <div class="main tabtable">
      <div class="step">
        <div class="first active"><span>1</span>填写用户名</div>
        <div class="second"><span>2</span>验证身份</div>
        <div class="third"><span>3</span>设置新密码</div>
        <div class="fouth"><span>4</span>完成</div>
      </div>
      <div class="password-content">
        <div id="account" class="account {%if step != 'account' %}hide{% endif %}">
          <form class="" id="account_form" action="" method="post">
            {% if obj.csrfmiddlewaretoken %}
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ obj.csrfmiddlewaretoken }}">
            {% else %}
              {% csrf_token %}
            {% endif %}
          <input type="hidden" name="step" value="account">
            <div class="form-group ">
              <label for="account" class="label-defined">用户名/手机号：</label>
              <input type="text" id="phone_username" name="phone_username" class="input-defined long" value="">
            </div>
            <div class="form-group">
              <label for="verify-num" class="label-defined">验证码：{{ result.step }}</label>
              <input type="text" id="captcha-num" name="captcha" class="input-defined" value="">
              <img class="captcha" src="/common/GenerateCheckCode/">
              <a class="captcha-rsh">换一张</a>
            </div>
            <div class="form-group">
              <label class="label-defined"></label>
              <button type="button" class="btn-s2 step1">提交</button>
            </div>
          </form>
        </div> <!-- ./ end account -->
        <div id="verify" class="verify {% if step != 'verify' %}hide{% endif %}">
          <form id="verify_form">
              {% if obj.csrfmiddlewaretoken %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ obj.csrfmiddlewaretoken }}">
              {% else %}
                  {% csrf_token %}
              {% endif %}
            <input type="hidden" name="step" value="verify">
            <input type="hidden" name="phone" value="{{ phone }}">
            <input type="hidden" id="url" value="{% url 'eshop:forget_password' %}">
            <div class="form-group">
              <label for="method" class="label-defined">选择验证身份方式：</label>
              <select id="method" class="select-defined">
                <option>手机号码</option>
{#                <option>用户名</option>#}
{#                <option>QQ号码</option>#}
              </select>
            </div>
            <div class="form-group">
              <label class="label-defined">已验证手机：</label>
              <span>{{ phone|slice:':3' }}****{{ phone|slice:'7:' }}</span>
            </div>
            <div class="form-group">
              <label for="verify-number" class="label-defined">验证码：</label>
              <input type="text"
                     name="phone_yzm"
                     id="verify-number"
                     class="input-defined phone_yzm">
              <a data-phone="{{ phone }}"
                      class="btn-defined send_phone">发送验证码</a>
            </div>
            <div class="form-group">
              <label class="label-defined"></label>
              <button type="button" class="btn-s2 step2">提交</button>
            </div>
          </form>
        </div>
        <div id="new_password" class="new_password {% if step != 'new_password' %}hide{% endif %}">
          <form id="new_password_form">
              {% if obj.csrfmiddlewaretoken %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ obj.csrfmiddlewaretoken }}">
              {% else %}
                  {% csrf_token %}
              {% endif %}
              <input type="hidden" name="step" value="new_password">

            <div class="form-group">
              <label for="new" class="label-defined">新登录密码：</label>
              <input type="password" id="new"
                     name="passwd"
                     class="input-defined long"></div>
            <div class="form-group">
              <label for="com-num" class="label-defined">确认密码：</label>
              <input type="password" id="com-num"
                     name="passwd2"
                     class="input-defined long"></div>
            <div class="form-group">
              <label class="label-defined"></label>
              <button type="button" class="btn-s2 step3">提交</button>
            </div>
          </form>
        </div>
        <div id="complate" class="complate {% if step != 'complate' %}hide{% endif %}">
          <div class="clearfix">
            <div class="complate-pic">
              <i class="iconfont icon-yiwancheng"></i>
            </div>
            <div class="complate-note">
              <p>密码设置成功！</p>
              <p>请您牢记你新设置的密码！</p>
            </div>
          </div>
          <form>
            <div class="form-group">
              <button class="btn-s2 pull-left" id="start-shopping"><a href="{% url 'eshop:eshop_home' %}">开始购物</a>
              </button>
              <button class="btn-s2" id="person-center"><a href="{% url 'eshop:member_center' %}">个人中心</a></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}
<!-- 自定义JS -->
{% block js %}
    <script>
        {% if request.GET.step == 'verify' %}
            $(".step .second").addClass("active").siblings().removeClass("active");
            $(".verify").removeClass("hide").siblings().addClass("hide");

        {% elif request.GET.step == 'new_password' %}
            $(".step .third").addClass("active").siblings().removeClass("active");
            $(".step .second").addClass("pass");
            $(".new_password").removeClass("hide").siblings().addClass("hide");

        {% elif request.GET.step == 'complate' %}
            $(".step .second").addClass("pass");
            $(".step .third").addClass("pass");
            $(".step .fouth").addClass("active").siblings().removeClass("active");


        {% endif %}





    </script>


  <script type="text/javascript" src="{{ 'eshop/js/forget_password.js'|static_url }}"></script>
{% endblock %}
