{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}商品详情 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/good_detail.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    <!--home_top部分-->
    {% include 'eshop/home_top.html' %}
    {% csrf_token %}

    <div id="content">
      <div class="main-nav">
        <div class="nav">
          <a href="{% url 'eshop:eshop_home' %}">首页</a>
          <a href="#">热销商品</a>
          <a href="#">医药咨询</a>
          <a href="{% url 'eshop:quickly_order' %}">快速下单</a>
          <a href="#">供应招商</a>
          <ul class="main-menu">
            <li><i class="iconfont icon-shangpinfenlei"></i>全部商品分类</li>
            <li>
              <p>中药</p>
              <a href="#">中成药</a>
              <a href="#">中药引片</a>
              <a href="#">中药材</a>
            </li>
            <li>
              <p>西药</p>
              <a href="#">抗生素</a>
              <a href="#">肽类激素</a>
              <a href="#">化学原料药</a>
            </li>
            <li>
              <p>医药器械</p>
              <a href="#">Ⅰ类</a>
              <a href="#">Ⅱ类</a>
              <a href="#">Ⅲ类</a>
            </li>
            <li>
              <p>计生用品</p>
              <a href="#">终止妊娠药品</a>
              <a href="#">其他计生用品</a>
            </li>
            <li>
              <p>保健品</p>
              <a href="#">保健药品</a>
              <a href="#">保健食品</a>
            </li>
            <li>
              <p>进口药品</p>
              <a href="#">进口药品</a>
              <a href="#">进口计生</a>
            </li>
            <li>
              <p>其他</p>
              <a href="#">消毒用品</a>
              <a href="#">日化用品</a>
              <a href="#">非药品</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="crumb">
          <ul>
            <li>
              <span>全部</span>
              <i class="iconfont icon-shangxiajiantou-copy1"></i>
            </li>
            <li>
              <span>{{ good.category|default:good.external_category }}</span>
              <i class="iconfont icon-shangxiajiantou-copy2"></i>
            </li>
          </ul>
        </div>
        <div class="product-detail">
          <div class="preview">
            <div class="spec">
              <img src="{% if good.main_photo.name %}{{ good.main_photo.name|media_url }}{% else %}{{ 'eshop/images/good_placeholder.png'|static_url }}{% endif %}"/>
            </div>
            <div class="spec-scroll">
              <a class="prev"><i class="iconfont icon-youbian-copy"></i></a>
              <div class="spec-list">
                <div>
                  <ul>
                    <li class="active"><img src="{% if good.main_photo.name %}{{ good.main_photo.name|media_url }}{% else %}{{ 'eshop/images/good_placeholder.png'|static_url }}{% endif %}"/></li>
                    {% for img in photo_list %}
                      <li class=""><img src="{{ img.photo.name|media_url }}"/></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <a class="next"><i class="iconfont icon-youbian"></i></a>
            </div>
            <div class="share">
              <a><i class="iconfont icon-iconziti17"></i> 分享</a>
              <a api="{% url 'order:my_favorites' %}"
                 data-id="{{ good.id }}"
                 class="add_my_favories"><i class="iconfont icon-weishoucang"></i> 收藏</a>
            </div>
          </div>
          <div class="inner">
            <h4>商品名：{{ good.name }}</h4>
            {% if request.user.is_authenticated %}
              <p>会员价：<b>￥{{ good.member_price | multiply:0.01 }}</b></p>
            {% else %}
              <p>会员价：<a class="member-price" href="{% url 'eshop:user_login' %}">登录后显示会员价格</a></p>
            {% endif %}
            <p>品牌：<span>{{ good.brand }}</span></p>
            <p>规格：<span>{{ good.pack_spec }}片</span></p>
            <p>包装：<span>小盒</span></p>
            {% comment %}<p>库存：<span>{{ good.stock_amount }}</span></p>
            <p>id：<span>{{ good.id }}</span></p>{% endcomment %}
            <div class="car-box">
              {% if good.stock_amount > 0 %}
                <div class="quantity">数量:</div>
                <div class="count">
                  <span class="add" style="pointer-events: auto;"><i></i></span>
                  <input class="good_count" type="text" value="1">{% comment %}{{ good.stock_amount }}{% endcomment %}
                  <span class="reduce" style="pointer-events: auto;"><i></i></span>
                </div>
                <a class="addCart add_cart" data-id="{{ good.id }}" api="{% url 'order:cart' %}" href="javascript:void(0)"
                   suc_page="{% url 'eshop:shopping_cart_list' %}" >加入购物车</a>
              {% else %}
                <a href="javascript:;" class="addLack lack_register" data-pk="{{ good.pk }}">缺货登记</a>
              {% endif %}
            </div>
            <div class="hint">请仔细阅读说明书并按说明书使用或在药师指导下购买和使用</div>
          </div>
        </div>
        <div class="hot-goods">
          <div class="goods">
            <div>热销商品</div>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
            <a href="#">
              <span><img src="/static/eshop/images/shouye/good.png"/></span>
              <p class="log-in"><span>￥2533.00</span>
                <del>￥2533.00</del>
              </p>
              <p>金戈 构型西地那非片</p>
              <p>500mg*10片/盒</p>
            </a>
          </div>
          <a href="#"><img src="/static/eshop/images/sousuo/guanggao1.png"> </a>
          <a href="#"><img src="/static/eshop/images/sousuo/guanggao2.png"> </a>
        </div>
        <div class="main-right">
          <div class="tab-defined">
            <ul class="tabs_nav">
              <li class="active" data-tab="introduce"><a>商品介绍</a></li>
              <li data-tab="specification"><a>说明书</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="introduce">
              <div style="border-bottom:1px dashed #e5e5e5">
                <p>商品名称：<span>{{ good.trade_name }}</span></p>
                <p>规格：<span>{{ good.prep_spec }}</span></p>
                <p>生产厂家：<span>{{ good.manufacturer }}</span></p>
                <p>品牌：<span>{{ good.trade_name }}</span></p>
                <p>批准文号：<span>{{ good.drugattr.license }}</span></p>
              </div>
              <div>
                {{ good.drugattr.desc_drug|safe }}
              </div>
            </div>
            <div class="specification hide">
              {{ good.drugattr.desc_good|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

    <div class="right-tab">
      <a href="#"><i class="iconfont icon-qq"></i></a>
      <a href="#"><i class="iconfont icon-gouwuche"></i></a>
      <a href="#"><i class="iconfont icon-liuyan"></i></a>
      <a href="#"><i class="iconfont icon-huidaodingbu"></i></a>
    </div>
  </div>
{% endblock %}

{% block modal %}
  {% include 'eshop/modals/modal_lack_register.html' %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ 'eshop/js/good_detail.js'|static_url }}"></script>
{% endblock %}
