{% extends "eshop/base.html" %} {% load extras %} {% block title %}商品搜索列表 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/good_search_list.css'|static_url }}"> {% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    <!--home_top部分-->
    {% include 'eshop/home_top.html' %}

    <div id="content">
      <div class="main-nav">
        <div class="nav">
          <a href="{% url 'eshop:eshop_home' %}">首页</a>
          <a href="#">热销商品</a>
          <a href="#">医药咨询</a>
          <a href="#">快速下单</a>
          <a href="#">供应招商</a>
          <ul class="main-menu">
            <li><i class="iconfont icon-shangpinfenlei"></i>全部商品分类</li>
            <li>
              <p>中药</p>
              <a href="#">中成药</a>
              <a href="#">中药引片</a>
              <a href="#">中药材</a>
            </li>
            <li>
              <p>西药</p>
              <a href="#">抗生素</a>
              <a href="#">肽类激素</a>
              <a href="#">化学原料药</a>
            </li>
            <li>
              <p>医药器械</p>
              <a href="#">Ⅰ类</a>
              <a href="#">Ⅱ类</a>
              <a href="#">Ⅲ类</a>
            </li>
            <li>
              <p>计生用品</p>
              <a href="#">终止妊娠药品</a>
              <a href="#">其他计生用品</a>
            </li>
            <li>
              <p>保健品</p>
              <a href="#">保健药品</a>
              <a href="#">保健食品</a>
            </li>
            <li>
              <p>进口药品</p>
              <a href="#">进口药品</a>
              <a href="#">进口计生</a>
            </li>
            <li>
              <p>其他</p>
              <a href="#">消毒用品</a>
              <a href="#">日化用品</a>
              <a href="#">非药品</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        {% if good_list %}
          <div class="crumb">
            <ul>
              <li>
                <span>全部</span>
                <i class="iconfont greater-than icon-shangxiajiantou-copy1"></i>
              </li>
              <ul class="search_item pull-left">
              </ul>

              <li class="goods-No">
                共找到<span>{{ data.count }}</span>件商品
              </li>
              <li>
                <a class="search_item_remove_all"><i class="iconfont icon-qingkong"></i>清空</a>
              </li>
            </ul>
          </div>
          <div class="attrs">
            <div class="brand-attr attrs_item">
              <div>品牌</div>
              <ul>
                {% if data.brand %}
                  {% for data in data.brand %}
                  	{% if data.brand %}
	                    <li>
	                      <a class="s_item"
	                         data-name="brand"
	                         data-value="{{ data.brand }}">{{ data.brand }}</a>
	                    </li>
	                  {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
              <a class="multiple-choice">+ 多选</a>
              <a class="more">更多<i class="iconfont icon-shangxiajiantou"></i></a>
            </div>
            <div class="origin-attr attrs_item">
              {% if data.locality %}
                <div>产地</div>
                <ul>
                  {% for data in data.locality %}
                  	{% if data.locality %}
	                    <li>
	                      <a class="s_item"
	                         data-name="locality"
	                         data-value="{{ data.locality }}">{{ data.locality }}</a>
	                    </li>
	                  {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="formulation-attr attrs_item hide">
              {% if data.dosage_form %}
                <div>剂型</div>
                <ul>
                  {% for data in data.dosage_form %}
                    <li>
                      <a class="s_item"
                         data-name="dosage_form"
                         data-value="{{ data.dosage_form }}">{{ data.dosage_form }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="sort-attr attrs_item hide">
              {% if data.external_category %}
                <div>类别</div>
                <ul>
                  {% for data in data.external_category %}
                    <li>
                      <a class="s_item"
                         data-name="external_category"
                         data-value="{{ data.external_category }}">{{ data.external_category }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="more-choices">
              <div></div>
              <a class="more_choices">更多选择</a>
            </div>
          </div>
          <div class="hot-goods">
            <div class="goods">
              <div>热销商品</div>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
              <a href="{% url 'eshop:good_detail' good_id=1 %}">
                <span><img src="../../static/eshop/images/shouye/good.png"/></span>
                <p class="log-in"><span>￥2533.00</span>
                  <del>￥2533.00</del>
                </p>
                <p>金戈 构型西地那非片</p>
                <p>500mg*10片/盒</p>
              </a>
            </div>
            <a href="#"><img src="../../static/eshop/images/sousuo/guanggao1.png"> </a>
            <a href="#"><img src="../../static/eshop/images/sousuo/guanggao2.png"> </a>
          </div>
          <div class="good-list">
          <div class="filter">
            <a class="active">综合<i class="iconfont icon-icon-test1"></i></a>
            <a>新品<i class="iconfont icon-icon-test1"></i></a>
            <a>销量<i class="iconfont icon-icon-test1"></i></a>
            <div class="choose">
              <a class="active"><i class="iconfont icon-duidui"></i></a>仅显示有货
            </div>
            <div class="choose">
              <a><i class="iconfont icon-duidui"></i></a>促销商品
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="在结果中搜索">
              <span class="input-group-btn">
							    	<button class="btn btn-default" type="button">搜索</button>
							    </span>
            </div>
            <div class="arrangement">
              <a class="active"><i class="iconfont icon-datumoshi"></i>大图</a>
              <a><i class="iconfont icon-shangpinfenlei"></i>列表</a>
            </div>
            <div class="pagination">
              <a class="search_page" data-page="{% if good_list.has_next %}{{ good_list.next_page_number }}{% else %}{% endif %}" href="javascript:;" aria-label="Previous"><i class="iconfont icon-shangxiajiantou-copy1-copy"></i></a>

              <span>{{ good_list.number }}</span>/<span>{{ good_list.paginator.num_pages }}</span>

              <a class="search_page" data-page="{% if good_list.has_next %}{{ good_list.next_page_number }}{% else %}{% endif %}" href="javascript:;" aria-label="Next"><i class="iconfont icon-shangxiajiantou-copy1"></i></a>
            </div>
          </div>
          <div class="search-goods">

            {% for good in good_list %}
              <div class="single_good">
                <a href="{% url "eshop:good_detail" good_id=good.id %}">
                  <img src="{% if good.main_photo.name %}{{ good.main_photo.name|media_url }}{% else %}{{ 'eshop/images/good_placeholder.png'|static_url }}{% endif %}" width="200" height="200"/>
                  {% if request.user.is_authenticated %}
                    <p class="log-in"><span>￥{{ good.member_price | multiply:0.01 }}</span>
                      <del>￥{{ good.retail_price | multiply:0.01 }}</del>
                    </p>
                  {% else %}
                    <p class="log-in">
                      登录后显示会员价格
                    </p>
                  {% endif %}
                  <p>{{ good.trade_name }}</p>
                  <p>{{ good.external_spec }}</p>
                </a>
                {% if good.stock_amount <= 0 %}
                  <div class="stockout">
                    <div class="input-group">
                      <span>-</span>
                      <span>1</span>
                      <span>+</span>
                    </div>
                    <span class="pull-left btn-s4 lack_register" data-pk="{{ good.pk }}">缺货登记</span>
                  </div>
                {% else %}
                  <div>
                    <div class="input-group good_count_group">
                      <span class="input-group-addon reduce">-</span>
                      <input type="text" class="form-control good_count" value="1">
                      <span class="input-group-addon add">+</span>
                    </div>
                    <span data-id="{{ good.id }}"
                          api="{% url 'order:cart' %}"
                          class="pull-left btn-s4 add_cart">加入购物车</span>
                  </div>
                {% endif %}



                <span api="{% url 'order:my_favorites' %}"
                      data-id="{{ good.id }}"
                      class="collect add_my_favories"><i class="iconfont icon-shoucang1"></i>收藏</span>
              </div>

            {% endfor %}


          </div>

					<form id="search_page_form" action="" method="get">
          	<input type="hidden" name="page" value="" class="page_num">
          </form>
          <div class="page-No">
            <div>
              共<span>{{ good_list.paginator.num_pages }}</span>页&nbsp;&nbsp;
              到第<input class="input_page" type="text" value="{{ page }}"/>页&nbsp;&nbsp;<a class="skip">确定</a>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination">

                <li><a class="previous search_page" data-page="{% if good_list.has_previous %}{{ good_list.previous_page_number }}{% else %}{% endif %}" href="javascript:;" aria-label="Previous">
                  <i class="iconfont icon-shangxiajiantou-copy1-copy"></i>上一页</a></li>
                {% if pagi_bar.left %}
                  {% for page in pagi_bar.left %}
                    {% if page == good_list.number %}
                      <li><a class="active">{{ page }}</a></li>
                    {% else %}
{#                      <li><a class="search_page" data-page="{{ page }}" href="?page={{ page }}">{{ page }}</a></li>#}
                      <li><a class="search_page" data-page="{{ page }}" href="javascript:;">{{ page }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <li><span class="previous-omit">…</span></li>
                {% endif %}
                {% for page in pagi_bar.center %}
                  {% if page == good_list.number %}
                    <li><a class="active">{{ page }}</a></li>
                  {% else %}
                    <li><a class="search_page" data-page="{{ page }}" href="javascript:;">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if pagi_bar.right %}
                  <li><span class="next-omit">…</span></li>
                  {% for page in pagi_bar.right %}
                    {% if page == good_list.number %}
                      <li><a class="active">{{ page }}</a></li>
                    {% else %}
                      <li><a class="search_page" data-page="{{ page }}" href="javascript:;">{{ page }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <li><a class="next search_page" data-page="{% if good_list.has_next %}{{ good_list.next_page_number }}{% endif %}" href="javascript:;" aria-label="Next">
{#                <li><a class="next search_page" data-page="" href="{% if good_list.has_next %}?page={{ good_list.next_page_number }}{% else %}javascript:;{% endif %}" aria-label="Next">#}
                  下一页<i class="iconfont icon-shangxiajiantou-copy1"></i></a>
                </li>

              </ul>
            </nav>
          </div>
        {% else %}
          <div class="empty search-empty">
        		<p>
        			<i class="iconfont icon-search-empty"></i>抱歉，没有找到“<span>{{ request.GET.keyword }}</span>”的搜索结果
        		</p>
        	</div>
        {% endif %}

        </div>
      </div>
    </div>

    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

    <div class="right-tab">
      <a href="#"><i class="iconfont icon-qq"></i></a>
      <a href="#"><i class="iconfont icon-gouwuche"></i></a>
      <a href="#"><i class="iconfont icon-liuyan"></i></a>
      <a href="#"><i class="iconfont icon-huidaodingbu"></i></a>
    </div>
  </div>
{% endblock %}

{% block modal %}
  {% include 'eshop/modals/modal_lack_register.html' %}
  {% include 'dtsadmin/modals/modal_alert_confirm.html' %}
{% endblock %}

<!-- 自定义JS -->
{% block js %}
  <script type="text/javascript" src="{{ 'eshop/js/URI.min.js'|static_url }}"></script>
  <script type="text/javascript" src="{{ 'eshop/js/good_search_list.js'|static_url }}"></script>
{% endblock %}
