<div class="main-nav">
  <div class="nav">
    <a href="#">首页</a>
    <a href="#">热销商品</a>
    <a href="#">医药咨询</a>
    <a href="#">快速下单</a>
    <a href="#">供应招商</a>
    <ul class="main-menu">
      <li><i class="iconfont icon-shangpinfenlei"></i>全部商品分类</li>
      <li>
        <p>中药</p>
        <a href="#">中成药</a>
        <a href="#">中药引片</a>
        <a href="#">中药材</a>
      </li>
      <li>
        <p>西药</p>
        <a href="good_list1.html">抗生素</a>
        <a href="#">肽类激素</a>
        <a href="#">化学原料药</a>
      </li>
      <li>
        <p>医药器械</p>
        <a href="#">Ⅰ类</a>
        <a href="#">Ⅱ类</a>
        <a href="#">Ⅲ类</a>
      </li>
      <li>
        <p>计生用品</p>
        <a href="#">终止妊娠药品</a>
        <a href="#">其他计生用品</a>
      </li>
      <li>
        <p>保健品</p>
        <a href="#">保健药品</a>
        <a href="#">保健食品</a>
      </li>
      <li>
        <p>进口药品</p>
        <a href="#">进口药品</a>
        <a href="#">进口计生</a>
      </li>
      <li>
        <p>其他</p>
        <a href="#">消毒用品</a>
        <a href="#">日化用品</a>
        <a href="#">非药品</a>
      </li>
    </ul>
  </div>
</div>