{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}结算 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/shopping_balance.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--member_site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    {% csrf_token %}

    {# 收货地址 #}
    <input type="hidden" id="receiving_address" name="receiving_address" value="">
    {# 配送方式 #}
    <input type="hidden" id="shipping_method" name="shipping_method" value="1">
    {# 支付方式 #}
    <input type="hidden" id="payment_method" name="payment_method" value="2">
    {# 提交 url #}
    <input type="hidden" id="submit_order" value="{% url 'eshop:submit_order' %}">
    {# 订单类型 购物车 快速下单 #}
    <input type="hidden" id="order_type" value="{{ order_type }}">
    {# 本页面url #}
    <input type="hidden" id="url" value="{% url 'eshop:shopping_balance' %}">
    {# 发票功能 公司#}
    <input type="hidden" id="invoice_company_name" name="company_name" value="">
    {# 发票功能 识别号#}
    <input type="hidden" id="invoice_taxpayer_no" name="taxpayer_no" value="">
    {# 发票功能 地址、电话#}
    <input type="hidden" id="invoice_address_phone" name="address_phone" value="">
    {# 发票功能 开户行、账号#}
    <input type="hidden" id="invoice_bank_account" name="bank_account" value="">


    <div id="shopping-section">
      <div class="logo-content">
        <div class="logo-group">
          <div class="logo-img">
            <a href="{% url 'eshop:eshop_home' %}"><img src="{{ 'eshop/images/huluwa.png'|static_url }}"></a></div>
          <div class="logo-title">结算页面</div>
        </div>
        <div class="range-group">
          <div class="prev-step">
            <div class="shopping-cart">1</div>
            <div class="shopping-cart-title">我的购物车</div>
          </div>
          <div class="new-step">
            <div class="check-order">2</div>
            <div class="check-order-title">填写核对订单信息</div>
          </div>
          <div class="next-step">
            <div class="submit-order">3</div>
            <div class="submit-order-title">成功提交提单</div>
          </div>
        </div>
      </div>
      <div class="delivery-inform">
        <div class="common-title">
          配送信息
          <a id="add_new_address">新增收货地址</a>
        </div>
        <div class="delivery-inform-box">

          {% for address in address_list %}
            {% if address.is_default %}
              <div id="address_show" class="delivery-address">
                <div class="delivery-name active" data-id="{{ address.id }}">{{ address.people }}</div>
                <span>{{ address.region }}</span>
                <span>{{ address.telephone  | slice:':3' }}****{{ address.telephone  | slice:'7:' }}</span>
                <span>默认地址</span>
                <a href="javascript:;" class="edit-address"
                   api="{% url 'dtsadmin:ajax:get_modal_byid' modal_name='ReceivingAddress' obj_id=address.id %}">编辑</a>
                <a href="javascript:;" class="delete-address"
                   api="{% url 'dtsadmin:ajax:delete_object_byid' model_class='ReceivingAddress' obj_id=address.id %}">删除</a>
              </div>
            {% else %}
              {% if forloop.first %}
                <div id="address_show" class="delivery-address">
                  <div class="delivery-name active" data-id="{{ address.id }}">{{ address.people }}</div>
                  <span>{{ address.region }}</span>
                  <span>{{ address.telephone  | slice:':3' }}****{{ address.telephone  | slice:'7:' }}</span>
                  <a class="set-def set_default" data-id="{{ address.id }}">设为默认地址</a>
                  <a href="javascript:;" class="edit-address"
                     api="{% url 'dtsadmin:ajax:get_modal_byid' modal_name='ReceivingAddress' obj_id=address.id %}">编辑</a>
                  <a href="javascript:;" class="delete-address"
                     api="{% url 'dtsadmin:ajax:delete_object_byid' model_class='ReceivingAddress' obj_id=address.id %}">删除</a>
                </div>
              {% endif %}
            {% endif %}
          {% empty %}
            <div class="empty">
              没有有效地址 请添加
            </div>
          {% endfor %}
          <div id="address_list" class="hide">
            {% for address in address_list %}
              <div class="delivery-address">
                {% if address.is_default %}
                  <div class="delivery-name address_item active"
                       data-id="{{ address.id }}">{{ address.people }}</div>
                {% else %}
                  <div class="delivery-name address_item {% if forloop.first %}active{% endif %}"
                       data-id="{{ address.id }}">{{ address.people }}</div>
                {% endif %}
                <span>{{ address.region }}</span>
                <span>{{ address.telephone  | slice:':3' }}****{{ address.telephone  | slice:'7:' }}</span>
                {% if address.is_default %}
                  <span>默认地址</span>
                {% else %}
                  <a class="set-def set_default" data-id="{{ address.id }}">设为默认地址</a>
                {% endif %}
                <a href="javascript:;" class="edit-address"
                   api="{% url 'dtsadmin:ajax:get_modal_byid' modal_name='ReceivingAddress' obj_id=address.id %}">编辑</a>
                <a href="javascript:;" class="delete-address"
                   api="{% url 'dtsadmin:ajax:delete_object_byid' model_class='ReceivingAddress' obj_id=address.id %}">删除</a>
              </div>
            {% endfor %}
          </div>
          <div class="more-address">
            {% if address_list|length >= 2 %}
              <a class="btn-more-address">更多地址</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="payment-method">
        <div class="common-title">支付方式</div>
        <div class="payment-method-box">
          {#  默认支付宝  #}
          {% for item in payment_method %}
            {% if item.name_cn == item.get_pay_type_display %}
              <div class="" data-value="{{ item.id }}">{{ item.name_cn }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="delivery-method">
        <div class="common-title">配送方式</div>
        <div class="delivery-method-box">
          {# 配送方式 #}
          {% for item in shipping_method %}
            {% if item.name_cn == item.get_shipping_type_display %}
              <div class="" data-value="{{ item.id }}">{{ item.get_shipping_type_display }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="return-cart">
        <a href="{% url 'eshop:shopping_cart_list' %}">返回购物车修改</a>
      </div>
      <div class="good-info">
        <ul>
          <li class="good-nav">
            <div class="good-inform">商品信息</div>
            <div class="good-code">商品编号</div>
            <div class="produce-fatory">生产厂家</div>
            <div class="sigle-price">单价</div>
            <div class="good-number">数量</div>
            <div class="sub-total">小计</div>
          </li>

          {% for obj in shopping_data %}

            <li class="good-item">
              <div class="good-inform">
                <a class="good-name" href="{% url 'eshop:good_detail' good_id=obj.good.id %}">
                  <img src="{% if good.main_photo.name %}{{ obj.good.main_photo.name|media_url }}{% else %}{{ 'eshop/images/good_placeholder.png'|static_url }}{% endif %}"
                       width="63px"/>
                  <p>
                    <span>{{ obj.good.brand }}</span>
                    <span>{{ obj.good.name }}</span>
                    <span>{{ obj.good.external_spec }}</span>
                  </p>
                </a>
              </div>
              <div class="good-code">{{ obj.good.external_id }}</div>
              <div class="produce-fatory">{{ obj.good.manufacturer.name }}</div>
              <div class="sigle-price"><span>￥{{ obj.good.member_price |multiply:0.01 }}</span></div>
              <div class="good-number">*{{ obj.quantity }}</div>
              <div class="sub-total"><span>￥</span><span data-pk="{{ obj.pk }}"
                                                         class="subtotal">{{ obj.good.member_price | multiply:obj.quantity | multiply:0.01 }}</span>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="total clearfix">
          <div class="good-bottom clearfix">
            <div class="leave-massage">
              <label for="massage">留言：</label>
              <input type="text"
                     id="note"
                     name="note"
                     width="350">
              <p>
                <a><i class="iconfont icon-jia"></i>使用优惠券</a>
              </p>
              <p>
                <a><i class="iconfont icon-jia"></i>使用积分</a>
              </p>
              <p>
                <a href="javascript:;" class="invoice-open"><i class="iconfont icon-jia"></i>发票</a>
              </p>
              <div class="invoice-box">
                <div class="form-group">
                  <label for="">公司名称：</label> <input id="company_name" class="form-control" type="text">
                  <div class="error">请填入公司名称</div>
                </div>
                <div class="form-group">
                  <label for="">纳税人识别号：</label> <input id="taxpayer_no" class="form-control" type="text">
                  <div class="error">请输入纳税人识别号</div>
                </div>
                <div class="form-group">
                  <label for="">地址、电话：</label> <input id="address_phone" class="form-control" type="text">
                  <div class="error">请输入公司地址和电话，请用空格隔开</div>
                </div>
                <div class="form-group">
                  <label for="">开户行及账号：</label> <input id="bank_account" class="form-control" type="text">
                  <div class="error">请输入开户银行及账号，请用空格隔开</div>
                </div>
                <button class="btn btn-s1" id="invoice_save">保存发票</button>
                <button class="btn btn-s1" id="invoice_cancel">不要发票</button>
              </div>
            </div>
            <div class="goods-total-amount">
              <p>
                <span>商品总金额：</span>
                <span class="">￥<span class="total_prices price_item">0.00</span></span>
              </p>
              <p>
                <span>运费：</span>
                <span>￥<span class="price_item">0.00</span></span>
              </p>
              <p>
                <span>促销优惠金额：</span>
                <span>￥<span class="price_item">0.00</span></span>
              </p>
              <p>
                <span>积分兑换：</span>
                <span>￥<span class="price_item">0.00</span></span>
              </p>
            </div>
          </div>
          <div class="totla-money">
            <span class="total-money-text">商品总金额(含运费)：</span>
            <span class="total-money-no">￥<span class="total_prices_and_shipping">0.00</span></span>
            <a class="btn-s2 submit_order"
               api="{% url 'eshop:submit_order' %}">提交</a>
          </div>
        </div>
      </div>
    </div>

    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}

{% block modal %}
  {% include 'eshop/modals/modal_receiving_address.html' %}
{% endblock %}


<!-- 自定义JS -->
{% block js %}
  <script type="text/javascript" src="{{ 'eshop/js/data.js'|static_url }}"></script>
  <script type="text/javascript" src="{{ 'eshop/js/distpicker.js'|static_url }}"></script>
  <script src="{{ 'eshop/js/shopping_balance.js'|static_url }}"></script>
{% endblock %}
