{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}采购指南 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/simple_page.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--member_site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    <!--home_top部分-->
    {% include 'eshop/home_top.html' %}

    <!--home_top部分-->
    {% include 'eshop/main_nav.html' %}

    <div class="main">
      <div class="crumb">
        <ul>
          <li>
            <span>首页</span>
            <i class="iconfont greater-than icon-shangxiajiantou-copy1"></i>
          </li>
          <li>
            <span>采购指南</span>
            <i class="iconfont greater-than icon-shangxiajiantou-copy1"></i>
          </li>
          <li>
            <span>隐私声明</span>
          </li>
        </ul>
      </div>
      <!--sidebar部分-->
      {% include 'eshop/sidebar_help.html' %}


      <div class="help-content">
        <div class="help-title">隐私声明</div>
        <div class="help-body">
          <p class="text-content mrg-b-20">
            本网站以本隐私声明对访问者隐私保护的许诺。本隐私声明适用于本网站的所有相关服务。在同意本网站服务协议时，您已经同意我们按照本隐私申明来使用和披露您的个人信息。本隐私
            声明的全部条款属于该协议的一部份。在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从网站上或电话中得到的所有客户信息仅用来处理您
            的相关订单。除此之外，我们还对以下三方面隐私保护做出承诺：
          </p>
          <dl>
            <dt>1.客户注册信息的隐私保证</dt>
            <dd>我们获取客户信息的主要目的在于向您提供一个顺畅、高效的购物体验，并致力于不断完善和提升您的体验。您在本网站注册/购物时产生的所有个
              人信息，只用于您在本网站购物时使用。我们通过严密的流程控制确保您个人的所有信息，均不会被泄露或是作为其他用途被使用。
            </dd>
          </dl>
          <dl>
            <dt>2.购物内容隐私保证</dt>
            <dd>您在本网站所购买的商品的信息，只作为您个人的隐私信息。我们通过严密的流程控制确保有关您的购物内容等信息，均不会被泄露或是作
              为其他用途被使用。
            </dd>
          </dl>
          <dl>
            <dt>3.包装快递隐私保证</dt>
            <dd>您在本网站所购买的任何商品，在包装发货时，包装箱外表只有您的送货地址等必要信息，不会出现您所购买商品的名称。具体商品的购物
              清单在包装箱中，其他人（包括快递员）都是无法看到的。
            </dd>
          </dl>
          <dl>
            <dt>4.网站安全</dt>
            <dd>我们网站有相应的安全措施来确保我们掌握的信息不丢失，不被滥用和变 造。这些安全措施包括向其它服务器备份数据和对用户密码加密。尽管我
              们有这些安全措施，但请注意在因特网上不存在“完善的安全措施”。
            </dd>
            <dd>为给您提供更多便利和商业信息，本网站可能会包含至其他网站的链接。该等网站的运营商有可能不是我们的关联公司。所链接的网站也可能拥有
              其自身的隐私政策或声明，所以，我们强烈建议您，在访问任何所链接的网站时查看该等隐私政策或声明。对于非由我们运营之任何网站的内容、对该等网站的任何使
              用或该等网站的隐私政策，我们概不负责。
            </dd>
          </dl>
          <dl>
            <dt>5.《隐私声明》的更新</dt>
            <dd>我们网站有相应的安全措施来确保我们掌握的信息不丢失，不被滥用和变 造。这些安全措施包括向其它服务器备份数据和对用户密码加密。尽管我
              们有这些安全措施，但请注意在因特网上不存在“完善的安全措施”。
            </dd>
            <dd>为给您提供更多便利和商业信息，本网站可能会包含至其他网站的链接。该等网站的运营商有可能不是我们的关联公司。所链接的网站也可能拥有
              其自身的隐私政策或声明，所以，我们强烈建议您，在访问任何所链接的网站时查看该等隐私政策或声明。对于非由我们运营之任何网站的内容、对该等网站的任何使
              用或该等网站的隐私政策，我们概不负责。
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}
<!-- 自定义JS -->
{% block js %}
{% endblock %}
