{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}采购指南 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/simple_page.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--member_site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    <!--home_top部分-->
    {% include 'eshop/home_top.html' %}

    <!--home_top部分-->
    {% include 'eshop/main_nav.html' %}

    <div class="main">
      <div class="crumb">
        <ul>
          <li>
            <span>首页</span>
            <i class="iconfont greater-than icon-shangxiajiantou-copy1"></i>
          </li>
          <li>
            <span>采购指南</span>
            <i class="iconfont greater-than icon-shangxiajiantou-copy1"></i>
          </li>
          <li>
            <span>服务协议</span>
          </li>
        </ul>
      </div>
      <!--sidebar部分-->
      {% include 'eshop/sidebar_help.html' %}


      <div class="help-content">
        <div class="help-title">服务协议</div>
        <div class="help-body">
          <ul>
            <li>甲 方：湖北东力药业有限公司（以下简称甲方）</li>
            <li>乙 方：e药购用户（以下简称乙方）</li>
            <li>根据《互联网药品信息服务管理办法》、《互联网药品交易服务管理办法》的有关规定，甲、乙双方在诚信的基础上，经友好协商，现就乙方使用甲方的药品电子采购平台
              http://www.eyaogo.cn进行药品网上交易的有关事宜达成一致，特订立本合同，以资共同遵守。 e药购平台是由湖北东力药业有限公司创建的向企业提供互联网药品交易服务的网站平台。
            </li>
            <li>下列条款适用于e药购平台的用户，若您使用e药购平台的服务，您必须同意此合同。</li>
            <li>一、定义</li>
            <li>1.1 供给方：湖北东力药业有限公司为乙方提供用药咨询、药品销售批发等服务。</li>
            <li>1.2 乙方：指有专业医药咨询需求的或有购买商品需求和意向的使用者。</li>
            <li>1.3 甲方：由湖北东力药业有限公司负责运营的e药购平台网站 http://www.eyaogo.cn</li>
            <li>1.4 支付服务费：指单位用户在 http://www.eyaogo.cn 上发布宣传信息，向甲方的所有消费者推广自己的商品或提升自身形象，所需支付的费用。</li>
            <li class="mrg-t-20">二、双方权利和义务</li>
            <li>（一）甲方的权利和义务</li>
            <li>1.甲方有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使乙方网上交易活动得以顺利进行。</li>
            <li>2.乙方在注册和使用甲方中所遇到的有关问题及反映的情况，甲方应及时做出回复。</li>
            <li>3.对于乙方在甲方上的不当行为或其它任何甲方认为应当终止服务的情况，甲方有权随时做出删除乙方账号、终止服务提供等处理，而无须征得乙方的同意。</li>
            <li>4.乙方因在甲方上发生购货交易而产生诉讼的，乙方通过司法部门或行政部门依照法定程序要求甲方提供相关数据，甲方应积极配合并提供有关资料。</li>
            <li>5.甲方有权对乙方的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向乙方发出询问并做出相应处理。</li>
            <li>（二）乙方的权利和义务</li>
            <li>1.乙方有权利拥有自己在甲方的用户名及密码，并有权利使用自己的用户名及密码随时登陆甲方平台。乙方不得以任何形式擅自转让或授权他人使用自己的e药购平台用户名。</li>
            <li>2.乙方有权根据本合同的规定以及甲方发布的相关规则，参加甲方的有关活动以及有权享受甲方提供的有关服务。</li>
            <li>3.乙方有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证甲方可以通过上述联系方式与自己进行联系。
              同时，乙方也有义务在相关资料实际变更时及时更新有关注册资料。乙方保证不以他人资料在甲方进行注册或认证。
            </li>
            <li>4.乙方不应在甲方平台上恶意攻击甲方已登载的商品厂家，或采取不正当手段打击甲方的信誉。</li>
            <li>5.乙方在甲方平台不得发布各类违法或违规信息。</li>
            <li>6.乙方承诺自己在使用甲方提供的服务时实施的所有行为均遵守国家法律、法规和甲方的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，乙方将以自己的名义
              独立承担所有相应的法律责任。
            </li>
            <li>7.乙方同意，不对甲方上任何数据作商业性利用，包括但不限于在未经甲方事先书面批准的情况下，以复制、传播等方式使用在甲方站上展示的任何资料。</li>
            <li class="mrg-t-20">三、服务方式</li>
            <li>3.1 商品的归属</li>
            <li>3.1.1 甲方所提供的相关实物商品所有权均属甲方和甲方合作厂家。</li>
            <li>3.1.2 甲方所提供的相关信息服务，均属于甲方，同时负责保证在e药购平台发布的相关信息符合国家有关法律法规。</li>
            <li>3.2 商品的取得</li>
            <li>3.2.1 乙方可以在浏览e药购平台后选购自己需要的商品，并按网站上所标示的方法购买商品。</li>
            <li>3.2.2 乙方若需要互联网信息服务的，可直接与在线客服部取得联系，咨询相关政策服务。</li>
            <li class="mrg-t-20">四、付款和发票出具</li>
            <li>4.1 支付费用方式乙方可以使用包括在线支付、银行汇款、邮局汇款、货到付款等方式向甲方支付相关费用。</li>
            <li>4.2 甲方所售所有商品均可向消费者提供湖北东力药业有限公司销售发票并注明：日期、品名、数量、金额、生产批号等。</li>
            <li class="mrg-t-20">五、保证产品信息真实和保障产品质量</li>
            <li>5.1 甲方发布的产品信息要保证真实性，产品符合相关部门的检验和监督。如有产品信息不真实或不符合，甲方立刻删除该产品信息和赔偿乙方的所有损失。</li>
            <li>5.2 更好的为客户利益服务，我们的产品经过多次检验，产品的质量得到有效的保障。如有任何的质量问题，甲方应乙方查明真实情况，证明情况真实后再次发货产品。</li>
            <li class="mrg-t-20">六、产品配送</li>
            <li>6.1 商家的权利和义务</li>
            <li>6.1.1 商家可以自己选择物流方式和发送时间，可以按照自己与物流公司约定的内容执行；</li>
            <li>6.1.2 商家有义务选择符合e药购平台要求的物流公司；</li>
            <li>6.1.3 商家须提供物流单号给顾客，顾客可在物流平台上跟踪物流订单的状态和详细配送情况；</li>
            <li>6.1.4 商家有权利要求用户必须正确填写核实收货详细地址及收货人电话，以免耽误投递；</li>
            <li>6.1.5 商家有义务在最短的时间里发货，以免延误投递；</li>
            <li>6.1.6 顾客可在约定时间内对物流公司发起投诉，在物流公司给出最终处理意见后的三十天内，顾客可对处理结果提出异议并申明理由，过期将不再受理。</li>
            <li>6.2 物流公司的权利和义务</li>
            <li>6.2.1 物流公司向顾客提供有偿服务，收费标准按照物流公司与顾客的约定进行；</li>
            <li>6.2.2 物流公司应承担由其配送的运输不当原因，所导致的产品质量及服务问题，而给顾客带来的一切损失；</li>
            <li>6.2.3 揽收货物前，需确认e药购平台商家所传输的物品的基本信息，未正确履行该义务所带来的风险，由物流公司承担；</li>
            <li>6.2.4 因不可抗力所造成的损失，物流公司不承担赔偿责任，但物流公司有义务协助顾客进行索赔。</li>
            <li>6.3 e药购平台的权利和义务</li>
            <li>6.3.1 e药购平台有权利和义务要求商家选择符合e药购平台提出的物流条件的物流公司；</li>
            <li>6.3.2 e药购平台有义务协助顾客处理物流配送意外情况，并督解决顾客使用物流产生的投诉；</li>
            <li>6.3.3 e药购平台不对物流的服务承担担保或连带责任。如因物流的原因造成顾客的损失及任何行政部门的调查、处罚或第三方的索赔、诉讼，全部法律责任由物流公司承担。e药购平台不
              承担任何物流提供给顾客之外的赔偿；
            </li>
            <li>6.3.4 e药购平台有义务保证商品的质量，如非物流公司或客户人为造成的商品质量问题，经过核查属实，可给客户进行退换或退货处理。</li>
            <li>6.3.5 如e药购平台配送给客户所需商品不符的，经过核查属实，可给客户进行退换或退货处理。</li>
            <li class="mrg-t-20">七、产品验货</li>
            <li>乙方在收到药品时，签字确认前须对药品进行开箱检验，检验核实药品数量、药品包装是否完好、是否自己购买的药品，药品规格是否相符，药品外包装是否有甲方提供的专用防伪标贴。如其中
              一项不符合要求，乙方有权拒绝签字。如用户采用的是圆通等邮政系统配送方式，请签字后在配送人员面前进行药品上述条件的验收，如有不符合要求的，应让送货人员出具货物损毁证明，
              同时拨打甲方服务电话进行联系确认，甲方应尽快安排第二次发货。
            </li>
            <li class="mrg-t-20">八、产品退换货</li>
            <li>8.1 有关退货，甲方将在乙方收到药品起的7天内，符合下列药品退换货要求的，可以退货。</li>
            <li>8.1.1 消费者提供的地址不准确，使得商品未送达成功被退回的；</li>
            <li>8.1.2 由于e药购平台原因失误造成发货错误或延迟送货的；</li>
            <li>8.1.3 经质量管理部门检验，确属产品本身存在质量问题的；</li>
            <li>8.1.4 国家权威管理部门发布公告的产品（如停售、收回等）。</li>
            <li>8.2 不具备退换货条件的情况:</li>
            <li>8.2.1 e药购平台的商品外包装已经拆封；</li>
            <li>8.2.2 商品储藏环境不适合造成质量问题的；</li>
            <li>8.2.3 商品外包装或其他商品附属物不完整或有毁损；</li>
            <li>8.2.4 超出质量保证期的商品；</li>
            <li>8.2.5 所需退货商品的批号、型号与售出时不符的；</li>
            <li>8.2.6 不能提供e药购平台有效消费凭证的；</li>
            <li>8.2.7 退货商品并非由e药购平台提供的。</li>
            <li class="mrg-t-20">九、违约责任</li>
            <li>质量担保e药购平台是湖北东力药业有限公司提供互联网药品交易网站，所有商品均来自于湖北东力药业有限公司合作厂家，甲方公司为GSP认证的专业医药批发企业。所售出药品均符合国家有关
              规定，对交易药品的质量负全责。同时保证在网站上发布的产品信息的真实性，不夸大宣传，如因产品信息的真实性导致乙方经济损失的，由甲方负责。 由于互联网是开放性的，甲方尽可能做到
              保证网络的安全性，如因网络的安全问题给乙方造成经济损失，则由甲方负责。但对于因不可抗力（如电信部门技术调整、黑客入侵、自然灾害、战争等）给乙方造成的损失不负责，甲方将尽力协
              助乙方减少损失。
            </li>
            <li class="mrg-t-20">十、免责声明</li>
            <li>10.1 甲方所提供的所有商品（包括药品、保健品等），由于均有一定的商品特殊性，因此任何乙方不得将甲方所提供的商品倒卖或用于不正当的用途，一经发现，立即交有关政府部门处理。</li>
            <li>10.2 网上药品交易服务一旦购买行为成立，除甲方责任外（如产品质量问题）一律不得撤销。</li>
            <li>10.3 由于网络是开放性的，甲方尽可能做到保证网络的安全性。但对于因不可抗力（如电信部门技术调整、黑客入侵、自然灾害、战争等）给乙方造成的损失不负责。</li>
            <li>10.4 请乙方自觉遵守以上规定，否则后果自负。</li>
            <li class="mrg-t-20">十一、法律适用</li>
            <li>11.1 乙方如不同意本合同，请不要支付任何费用。成功支付相关服务费的用户，将被视为同意本合同。</li>
            <li>11.2 本合同适用且仅适用中华人民共和国法律、法规。合同未列举之款项，均遵从中华人民共和国法律、法规之要求。本条不排除中华人民共和国政府参加的国际公约、国际条约的法律效力。</li>
            <li>11.3 另外提醒乙方，本合同之规定有时可能会更改，甲方将提前十天在网站的重要页面上提示修改内容，敬请定期查询。如果本合同有实质性的修改，我们将在e药购的首页显著位置上放置醒目
              的标题来通知乙方。乙方如继续使用本合同涉及的服务，则视为对修改内容的同意；乙方在不同意修改内容的情况下，有权停止使用本合同涉及的服务。
            </li>
            <li>11.4 本合同自注册日生效。</li>
          </ul>
        </div>
      </div>
    </div>
    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}
<!-- 自定义JS -->
{% block js %}
{% endblock %}
