{% extends "eshop/base.html" %}
{% load extras %}

{% block title %}站内消息 - DTS商城{% endblock %}

<!-- 自定义CSS -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ 'eshop/css/site_message.css'|static_url }}">
{% endblock %}

<!--主体部分-->
{% block content %}
  <div id="wrap">

    <!--member_site_nav部分-->
    {% include 'eshop/site_nav.html' %}

    <!--top_box部分-->
    {% include 'eshop/member_center_top.html' %}

    <div class="main clearfix">

      <!--sidebar部分-->
      {% include 'eshop/sidebar_member_center.html' %}

      <div class="section">
        {% csrf_token %}
        <form action="" method="get">
          <input type="hidden" class="page_num" name="page" value={{ page }}/>
          <button class="page_skip hide"></button>
        </form>
        <div class="message-title">
          <span>站内消息({{ messages|length }})</span>
          <a class="clear_read" api="{% url 'eshop:site_message' %}">清空已读消息</a>
          <a class="sign_all_read" api="{% url 'eshop:site_message' %}">全部标记已读</a>
        </div>
        <div class="message-content">
          {% for message in messages_list %}
            <div
                class="{% if message.msg_type == 1 %}system-message{% elif message.msg_type == 0 %}order-inform{% endif %}">
              <div class="com-title">
                <span></span>
                <span>{{ message.get_msg_type_display }}</span>
                <span class="message-time">{{ message.time | date:'Y年m月d H:i:s' }}</span>
                {% if not message.is_read %}
                  <a class="unread"
                     data-pk="{{ message.pk }}"
                     data-toggle="tooltip"
                     data-placement="right"
                     title="点击标记为已读"
                     api="{% url 'eshop:site_message' %}"
                  >未读</a>
                {% endif %}
              </div>
              <div class="com-box">
                <p class="text-overflow">{{ message.contant }}</p>
                {% if message.msg_type == 0 %}
                  <p><a href="{% url 'eshop:my_order' %}#{{ message.order }}">查看订单</a><a>物流信息</a></p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% if messages %}
        <div class="page-No">
          <div>
            共<span>{{ messages_list.paginator.num_pages }}</span>页&nbsp;&nbsp;到第<input class="page_no" type="text"
                                                                                       value="{{ page }}"/>页&nbsp;&nbsp;
            <a class="skip">确定</a>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a class="previous" href="{% if messages_list.has_previous %}?page=
              {{ messages_list.previous_page_number }}{% else %}javascript:;{% endif %}" aria-label="Previous"><i
                    class="iconfont icon-shangxiajiantou-copy1-copy"></i>上一页</a>
              </li>
              {% if pagi_bar.left %}
                {% for page in pagi_bar.left %}
                  {% if page == messages_list.number %}
                    <li><a class="active">{{ page }}</a></li>
                  {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
                <li><span class="previous-omit">…</span></li>
              {% endif %}
              {% for page in pagi_bar.center %}
                {% if page == messages_list.number %}
                    <li><a class="active">{{ page }}</a></li>
                  {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
              {% if pagi_bar.right %}
                <li><span class="next-omit">…</span></li>
                {% for page in pagi_bar.right %}
                  {% if page == messages_list.number %}
                    <li><a class="active">{{ page }}</a></li>
                  {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <li>
                <a class="next" href="{% if messages_list.has_next %}?page=
              {{ messages_list.next_page_number }}{% else %}javascript:;{% endif %}" aria-label="Next">下一页<i
                    class="iconfont icon-shangxiajiantou-copy1"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      {% else %}
        <div class="empty">
          <img src="{{ 'eshop/images/notice_empty.png' | static_url }}"/>
          <p>暂无消息</p>
        </div>
      {% endif %}
      </div>
    </div>
    <!--footer部分-->
    {% include 'eshop/eshop_footer.html' %}

  </div>
{% endblock %}
<!-- 自定义JS -->
{% block js %}
  <script type="text/javascript" src="{{ 'eshop/js/site_message.js'|static_url }}"></script>
{% endblock %}