{% load extras %}
<div class="bg-blue sidebar-left">
  <div class="small list-group">
    <div class="list-group-item"><i class="iconfont icon-jibenshezhi"></i>基本设置</div>
    <a href="{% url 'dtsadmin:basic_info' %}" class="list-group-item {% active_url 'basic_info' %}">基本信息</a>
    <a href="{% url 'dtsadmin:data_dictionary' %}" class="list-group-item {% active_url 'data_dictionary' %}">数据字典</a>
    <a href="{% url 'dtsadmin:member_settings' %}" class="list-group-item {% active_url 'member_settings' %}">会员设置</a>
    <a href="{% url 'dtsadmin:payment_method' %}" class="list-group-item {% active_url 'payment_method' %}">支付方式</a>
    <a href="{% url 'dtsadmin:shipping_method' %}" class="list-group-item {% active_url 'shipping_method' %}">配送方式</a>
    <a href="{% url 'dtsadmin:area_settings' %}" class="list-group-item {% active_url 'area_settings' %}">地区设置</a>
  </div>
</div>